



    <h1 class='py--5 text-center'>Welcome To FoodNutrientApp</h1>
    <br>
    <p class="py--5 text-center">This is app is an attempt to consolidate the data from the USDA FoodData Central and provide some rudimentary filtering capaiblities to sort by nutrient values.  </p>
<p class="py--5 text-center">Users will be able to export a portion of Food Data Central's database system that provides expanded nutrient profile data for over 7,000 records. </p>
 <p class="py--5 text-center">Users can search through this index by and sort by certian nutrient values such as: calories, carbs, total sugar, protein, etc.  </p>


<br>
<br>
<p class="py--5 text-center"><strong>Filtered Searches:</strong></p>
    <p class="py--5 text-center">An example search could be "Spinach, sorted by nutrient value: Iron" revealing a list of food records containing the word spinach, ranked by iron content).</p>   
<p class="py--5 text-center"><strong>Saved Meals/Lists: </strong></p>
    <p class="py--5 text-center">Users can also create meals or lists of foods, with an option to display publically for all users to see; otherwise, lists are private to individual user accounts. </p> 
<p class="py--5 text-center"><strong>Comments:</strong></p>
    <p class="py--5 text-center">Registered users can leave comments on their own meals, or leave comments on published meals. </p>
    

