<body data-turbolinks="false">
<div class="container-fluid">
<h1>Track Your Meals<h1>
<h3>Published Meals</h3>
<table class="table">
<thead>
<tr>
<th scope="col"></th>
<th scope="col"></th>
<th scope="col"></th>
<% @meals.each do |meal| %>
<p><%= link_to "#{meal.name}", meal_path(meal) %>
# of Comments: 
<%= meal.comments.count %>
</p>
<% end %>
</div>
</body>