<%= form_tag foods_path, method: :get %>
<%= label_tag "Search Foods" %>
<%= text_field_tag :query %>
<p><% @foods.each do |food| %>
<p><%= link_to "#{food.name}", food_path(food.id) %>
 <% end %></p>



